---
layout: page.njk
title: Thank you
pageName: thanks
pageNum: "✓"
permalink: /thanks/
eleventyExcludeFromCollections: true
---
{#- Where the forms land when JavaScript is off. `?from=<slug>` links back to the story. -#}
<div class="sent">
  <span class="sq" aria-hidden="true"></span>
  <p class="big">Si Yu’os ma’åse’.</p>
  <p>Your message is in. Comments are read before they appear; messages get a reply within a few days.</p>
  <a class="label-link" href="/" data-back><span class="tick" aria-hidden="true"></span>back to the stories</a>
</div>
