{#- Time-ago text, refreshed every minute by assets/js/site.js. -#}
{% macro ago(iso, cls="ago") %}<time class="{{ cls }}" datetime="{{ iso | isoDate }}" data-ago>{{ iso | ago }}</time>{% endmacro %}
